# Virtual Envs
venv/
env/
ENV/
studytrack/

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/